{% extends "./layout-portal-participante.html" %}

{% block title %}
Portal del Participante
{% endblock %}

{% block head %}{% endblock %}

{% block active_encuestas %}
aria-expanded="true"
{% endblock %}

{% block active_encuestas_collapse %}
show
{% endblock %}

{% block active_participantes_respondidas %}
active
{% endblock %}

{% block body %}
<div class="container">
    <div class="mini-contenedor listado-encuestas">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold mb-3">Encuestas Respondidas</h1>
            <p for="basic-url" class="form-label mb-4">Puedes visualizar el histórico de encuestas que respondiste.</p>
            <table class="table" class="scrollbar .scrollbar-default">
                <thead>
                    <tr>
                        <th class="ocultar-id">ID</th>
                        <th>Nombre</th>
                        <th class="ocultar-descripcion">Descripcion</th>
                        <th class="ocultar-estado">Estado</th>
                        <th class="ocultar-preguntas">Preguntas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                <tr>
                    <td class="ocultar-id">{{ d.0 }}</td> <!-- ID-->
                    <td>{{ d.1 }}</td>
                    <td class="ocultar-descripcion">{{ d.2 }}</td>
                    <td class="ocultar-estado">{{ d.3 }}</td>
                    <td class="ocultar-preguntas">{{ d.4 }}</td>
                    <td>{{ d.5 }}</td>
                    <td> 
                        <a href= "/ver_encuesta/{{ d.0 }}" >
                            <button class="btn btn-warning a-botones" type="button">Ver</button>  
                        </a>
                    </td>
                    <a>
            
                    </a>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
