{% extends "./layout.html" %}

{% block title %}
{{ informacion.titulo_favicon }}
{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<!-- CONTENIDO -->
<section>
  <main class="container p-3">
      <div class="bg-light p-5 rounded">
        <h1>{{ informacion.titulo }}</h1>
        <p class="lead">{{ informacion.descripcion }}</p>
        <a class="btn btn-lg btn-warning mr-4" href="{{ informacion.enlace_boton_izq }}" role="button">{{ informacion.texto_boton_izq }}</a>
        <a class="btn btn-lg btn-outline-dark" href="{{ informacion.enlace_boton_der }}" role="button">{{ informacion.texto_boton_der }}</a>
      </div>
    </main>
</section>
{% endblock %}