<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>encuestas</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <header>
		<h1>Nombre empresa</h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="/">Inicio</a>
                    <a class="nav-link active" href="/encuestas">Encuestas</a>
                    <a class="nav-link" href="/encuestados">Encuestados</a>
                    <a class="nav-link" href="/nueva_encuesta">
                        <button class="btn btn-outline-success me-2" type="button">Nueva Encuesta</button>
                    </a>
                    <a class="nav-link" href="/login">
                        <button class="btn btn-outline-danger" type="button">LogOut</button>
                    
                    </a>
                    
                </div>
            </div	>
            </div>
        </nav>
    </header>
   
    <ul class="nav nav-tabs bg-dark text-white " id="myTab" role="tablist">
        <li class="nav-item" role="presentation">

            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#ready" type="button" role="tab" aria-controls="home" aria-selected="true">Por hacer</button>
            
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#open" type="button" role="tab" aria-controls="profile" aria-selected="false">Abierta</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#closed" type="button" role="tab" aria-controls="contact" aria-selected="false">Cerrada</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="ready" role="tabpanel" aria-labelledby="home-tab">
          <h1 class="p-3 mb-2 bg-primary text-white">Por Hacer</h1>
          <table class="table" class="overflow-scroll">
              <thead>
                  <tr>
                      <th scope="col">N°</th>
                      <th>Titulo</th>
                      <th>Descripción</th>
                      <th>Preguntas</th>
                      <th> </th>
                  </tr>
              </thead>
              <tbody>    
                  {% for pollr in pollsReady %}
                  <tr>
                      <form action="/editar_encuesta" method="POST">
                          <th name="code" scope="row">{{pollr.0}}</th>
                          <td name="title" scope="col">{{pollr.1}}</td>
                          <td name="description" scope="col">{{pollr.2}}</td>
                          <td scope="col">{{pollr.4}}</td>
                          <td scope="col">
                              <a href="/enviar_encuesta/{{pollr.0}}" class="btn btn-success">Enviar</a>
                              
                              <a href="/editar_encuesta/{{pollr.0}}" class="btn btn-secondary">Visualizar</a> <!--/editar_encuesta/{{pollr.1}}-->
                              
                              <a href="/eliminar_encuesta/{{pollr.0}}" class="btn btn-danger">Eliminar</a><!--/eliminar_encuesta/{{pollr.1}}-->
                          </td>
                      </form>
                  </tr>
                  {% endfor %}
                  </tbody>
          </table>
          

        </div>
        <div class="tab-pane fade " id="open" role="tabpanel" aria-labelledby="profile-tab">
          <h1 class="p-3 mb-2 bg-success text-white">Encuestas abiertas</h1>

          <table class="table" class="overflow-scroll">
              <thead>
                  <tr>
                      <th scope="col">N°</th>
                      <th>Titulo</th>
                      <th>Descripción</th>
                      <th>Fecha apertura</th>
                      <th>Fecha cierre</th>
                      <th>Preguntas</th>
                                      
                      <th> </th>
                  </tr>
              </thead>
              <tbody>
                          
                  {% for pollo in pollsOpen %}
                  <tr>
                      <form action="/editar_encuesta" method="POST">
                          <th name="code" scope="row">{{pollo.0}}</th>
                          <td name="title" scope="col">{{pollo.1}}</td>
                          <td name="description" scope="col">{{pollo.2}}</td>
                          <td scope="col">{{pollo.4}}</td>
                          <td scope="col">{{pollo.5}}</td>
                          <td scope="col">{{pollo.6}}</td>
                                      
                          <td scope="col">
                            <a href="/responder_encuesta/{{pollo.0}}" class="btn btn-success">Responder</a>
                                <a href="/cerrar_encuesta/{{pollo.0}}" class="btn btn-warning">Cerrar</a>
                                <a href="/editar_encuesta/{{pollo.0}}" class="btn btn-secondary">Visualizar</a> <!--/editar_encuesta/{{pollo.1}}-->
                                <a href="/eliminar_encuesta/{{pollo.0}}" class="btn btn-danger">Eliminar</a><!--/eliminar_encuesta/{{pollo.1}}-->
                          </td>
                          </form>
                  </tr>
                  {% endfor %}
                          
              </tbody>
          </table>  



        </div>
        <div class="tab-pane fade" id="closed" role="tabpanel" aria-labelledby="contact-tab">
          <h1 class="p-3 mb-2 bg-danger text-white">Encuestas cerradas</h1>
          <table class="table"  class="overflow-scroll">
              <thead>
                  <tr>
                      <th scope="col">N°</th>
                      <th>Titulo</th>
                      <th>Descripción</th>
                      <th>Fecha apertura</th>
                      <th>Fecha cierre</th>
                      <th>Preguntas</th>
                      <th> </th>
                  </tr>
              </thead>
              <tbody>
                  {% for pollc in pollsClosed %}
                  <tr>
                      <form action="/editar_encuesta" method="POST">
                          <th name="code" scope="row">{{pollc.0}}</th>
                          <td name="title" scope="col">{{pollc.1}}</td>
                          <td name="description" scope="col">{{pollc.2}}</td>
                          <td scope="col">{{pollc.4}}</td>
                          <td scope="col">{{pollc.5}}</td>
                          <td scope="col">{{pollc.6}}</td>
                          <td scope="col">
                            <!--<button type="button" class="btn btn-secondary ">Visualizar</button>
                              <button type="button" class="btn btn-danger">Eliminar</button>-->
                              <a href="/editar_encuesta/{{pollc.0}}" class="btn btn-secondary">Visualizar</a> <!--/editar_encuesta/{{pollc.1}}-->
                              <a href="/eliminar_encuesta/{{pollc.0}}" class="btn btn-danger">Eliminar</a><!--/eliminar_encuesta/{{pollc.1}}-->
                          </td>
                      </form>
                  </tr>
                  {% endfor %}
                      
                  </tbody>
              </table>


        </div>
      </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	    
</body>
</html>