.carrusel-degradado {
    z-index: 1;
    position: absolute;
}

@media (min-width: 1200px) and (max-width: 1399px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (max-width: 575px) {
    .img-carrusel {
        object-fit: cover;
        height: 530px;
    }
}