{% extends "layout/portal-encuestador.html" %}

{% block title %}
Portal del Encuestador
{% endblock %}

{% block head %}{% endblock %}

{% block active_participante %}
aria-expanded="true"
{% endblock %}

{% block active_participante_collapse %}
show
{% endblock %}

{% block active_participantes_agregar %}
active
{% endblock %}

{% block body %}
<div class="container">
    <div class="mini-contenedor">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold mb-3">Agregar Participante</h1>
            <p for="basic-url" class="form-label mb-4">Recuerda que el participante deberá confirmar su correo electrónico antes de ser agregado a la base de datos.</p>
            <form action="{{url_for('enviar_verificacion_portal')}}" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Nombre</span>
                    <input type="text" name="nombre" class="form-control" placeholder="" aria-label="Nombre" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Correo electrónico</span>
                    <input type="email" name="correo" class="form-control" placeholder="" aria-label="Nombre" aria-describedby="basic-addon1">
                </div>
                <button class="btn btn-warning btn-lg" type="submit">Agregar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}