.tarjeta-conocenos {
    width: 480px;
    height: 200px;
    margin: 10px;
    display: inline-block;
}

.tarjeta-foto {
    margin: 25px;
    width: 150px;
    display: inline-flex;
}

.foto {
    border-radius: 75px;
    object-fit: scale-down;
}

.card-body {
    position: relative;
    display: inline-block;
    bottom: 40px;
    right: 15px;
}