/*
nav-enlase{
	display: flex;
	text-decoration: none;
	display: inline-block;
	color:#F6F4E6;
	background: #52575d;
	border-radius: 5px;
	padding: 25px 150px;

	border: 1px solid #F6F4E6;
	

}
.nav-enlase:hover{
	color:#fddb3a;
	background: #41444b;
}
.menub{
	display: none;
	color:#F6F4E6;
	background: #52575d;
	border: #52575d;
	padding: 25px 150px

	
}
.menub:hover{
	display: none;
	color:#fddb3a;
	background: #41444B;
	border: #41444B;
	padding: 25px 150px
	
}
nav{
	
	justify-content: space-around;
	padding: 10px;
	background: #f6f4e6;
	border-radius: 5px;
	border: 1px solid #fddb3a;
}

.title{
	font-size: 70px;
	color:	#F56D91;
	display: inline;
	background: #F7F5F2;
	border-radius: 5px;
	padding: 3px;
	border: 1px solid #8D8DAA;
}

.slider{
	width: 95%;
	margin: auto;
	overflow: hidden;
	
}
.slider ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite;
	
}
.slider li{
	width: 100%;

	list-style: none;
	
}
.slider img{
	width: 100%;
}
@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}
	
	25%{margin-left: -100;}
	45%{margin-left: -100;}

	50%{margin-left: -200;}
	70%{margin-left: -200;}

	75%{margin-left: -300;}
	100%{margin-left: -300;}
}
@media(max-width: 1000px){
	.nav-enlase{
		flex-direction: column;
		margin: 10px 0px;
	}
	.desaparece{
		display: none;
	}
	.menub{
		display: inline;
	}
	.menub:hover{
		display: inline;
	}

}*/

.cont{
	padding: auto;
	border: 1px solid rgb(192, 192, 192);
	border-radius: 2px;
	
}
.pad{
	padding: 5px;
}
.cont1{
	border: 1px solid black;
	border-radius: 2px;
	text-align: center;

}
ul {
    list-style: none;
}
html{
	background: #F7F5F2;
}

