{% extends "./layout.html" %}

{% block title %}
{{ informacion.titulo_favicon }}
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<!-- CONTENIDO -->
<section>
  <main class="container p-3">
      <div class="bg-light p-5 rounded">
        <h1>{{ informacion.titulo }}</h1>
        <p class="lead">{{ informacion.descripcion }}</p>
        <a class="btn btn-lg btn-primary" href="{{ informacion.enlace_boton }}" role="button">{{ informacion.texto_boton }}</a>
      </div>
    </main>
</section>
{% endblock %}