{% extends "layout/principal.html" %}

{% block title %}
Conócenos
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/conocenos.css')}}">
{% endblock %}

{% block body %}
<!-- CONTENIDO -->
<section>
  <main class="container p-3" center>
      <div class="bg-light p-5 rounded">
        <h1>Conócenos</h1>
        <div class="contenedor-conocenos">
          <div class="card tarjeta-conocenos">
            <div class="tarjeta-foto">
              <img src="{{ url_for('static', filename='images/conocenos_catalina.jpeg')}}" class="card-img-top foto" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Catalina Jiménez</h5>
              <p class="card-text">Scrum Master</p>
              <a href="//github.com/Morrigan-berry" target="_blank" class="btn btn-warning">@Morrigan-berry</a>
            </div>
          </div>
          <div class="card tarjeta-conocenos">
            <div class="tarjeta-foto">
              <img src="{{ url_for('static', filename='images/conocenos_jookeez.png')}}" class="card-img-top foto" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Joaquín Vásquez</h5>
              <p class="card-text">Product Owner</p>
              <a href="//github.com/jookeez" target="_blank" class="btn btn-warning">@jookeez</a>
            </div>
          </div>
          <div class="card tarjeta-conocenos">
            <div class="tarjeta-foto">
              <img src="{{ url_for('static', filename='images/conocenos_patricio.jpeg')}}" class="card-img-top foto" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Patricio Inostroza</h5>
              <p class="card-text">Desarrollador</p>
              <a href="//github.com/patooig" target="_blank" class="btn btn-warning">@patooig</a>
            </div>
          </div>
          <div class="card tarjeta-conocenos">
            <div class="tarjeta-foto">
              <img src="{{ url_for('static', filename='images/conocenos_alejandro.jpeg')}}" class="card-img-top foto" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Alejandro Sánchez</h5>
              <p class="card-text">Desarrollador</p>
              <a href="//github.com/AlzZ88" target="_blank" class="btn btn-warning">@AlzZ88</a>
            </div>
          </div>
          <div class="card tarjeta-conocenos">
            <div class="tarjeta-foto">
              <img src="{{ url_for('static', filename='images/conocenos_felix.jpeg')}}" class="card-img-top foto" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Félix Torres</h5>
              <p class="card-text">Desarrollador</p>
              <a href="//github.com/F3lIX99" target="_blank" class="btn btn-warning">@F3lIX99</a>
            </div>
          </div>
        </div>
      </div>
    </main>
</section>
{% endblock %}