{% extends "./layout-login.html" %}

{% block title %}
Iniciar Sesión como Participante
{% endblock %}

{% block body %}
<div class="fondo bg-participante">
  <main class="form-signin">
    <form action="/logear-participante", method="POST">
      <h1 class="h3 mb-3 fw-normal">Inicia sesión como Participante</h1>
      <div class="form-floating mb-3">
        <input type="email" name="correo" class="form-control" id="floatingInput" placeholder="ejemplo@jookeez.com" required>
        <label for="floatingInput">Correo Electrónico</label>
      </div>   
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recordarme
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Iniciar Sesión</button>
      <a href="{{ url_for('registrarse')}}"><button type="button" class="w-100 btn btn-lg btn-dark mb-2">Regístrate como Participante</button></a>
      <a href="{{ url_for('iniciar_sesion_encuestador')}}"><button type="button" class="w-100 btn btn-lg btn-outline-dark">Iniciar como Encuestador</button></a>
    </form>
  </main>
</div>
{% endblock %}
