<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | SiSoySurvey</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_32.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/portal.css')}}">
    {% block head %}{% endblock %}
</head>
<body class="bg-encuestador">
    <!-- MENU LATERAL -->
    <div class="principal">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white menu-lateral">
        <a href="{{ url_for('basico.index')}}" class="d-flex align-items-center mb-lg-0 text-white text-decoration-none logo-principal">
            <img src="{{ url_for('static', filename='images/logo_semirecto_150.png')}}" alt="Inicio" title="">
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="mb-1">
            <a href="{{ url_for('basico.portal_encuestador')}}" class="btn btn-menu align-items-center rounded collapsed {% block active_portal %}{% endblock %}">
              Portal
            </a>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#participantes-collapse" {% block active_participante %}{% endblock %}>
              Participantes
            </button>
            <div class="collapse {% block active_participante_collapse %}{% endblock %}" id="participantes-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{{ url_for('basico.portal_encuestador_participantes_agregar')}}" class="nav-link text-white rounded {% block active_participantes_agregar %}{% endblock %}">Agregar</a></li>
                <li><a href="{{ url_for('portal_encuestador_participantes_listado')}}" class="nav-link text-white rounded {% block active_participantes_listado %}{% endblock %}">Listado</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#encuestas-collapse" {% block active_encuestas %}{% endblock %} >
              Encuestas
            </button>
            <div class="collapse {% block active_encuestas_collapse %}{% endblock %}" id="encuestas-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{{ url_for('basico.portal_encuestador_encuestas_crear')}}" class="nav-link text-white rounded {% block active_encuestas_crear %}{% endblock %}">Crear</a></li>
                <li><a href="{{ url_for('portal_encuestador_encuestas_realizar')}}" class="nav-link text-white rounded {% block active_encuestas_realizar %}{% endblock %}">Por Realizar</a></li>
                <li><a href="{{ url_for('portal_encuestador_encuestas_abiertas')}}" class="nav-link text-white rounded {% block active_encuestas_abiertas %}{% endblock %}">Abiertas</a></li>
                <li><a href="{{ url_for('portal_encuestador_encuestas_finalizadas')}}" class="nav-link text-white rounded {% block active_encuestas_finalizadas %}{% endblock %}">Finalizadas</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <a href="{{ url_for('basico.portal_encuestador_resultados')}}" class="none btn btn-menu align-items-center rounded collapsed {% block active_resultados %}{% endblock %}">
              Resultados
            </a>
          </li>
          <li class="mb-1">
            <a href="{{ url_for('basico.portal_encuestador_estadisticas')}}" class="none btn btn-menu align-items-center rounded collapsed {% block active_estadisticas %}{% endblock %}">
              Estadísticas
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ url_for('static', filename='images/favicon.png')}}" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Encuestador</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="{{ url_for('basico.portal_encuestador_perfil')}}">Perfil</a></li>
            <li><a class="dropdown-item" href="{{ url_for('basico.portal_encuestador_ajustes')}}">Ajustes</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('basico.index') }}">Cerrar sesión</a></li>
          </ul>
        </div>
      </div>
      <div class="contenedor-derecho">
        {% block body %}{% endblock %}
      </div>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/popper.min.js')}}" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>