{% extends "./layout-mail.html" %}

{% block h1 %}
Hola {{ data.nombre }}
{% endblock %}

{% block parrafo_inicial %}
Te enviamos una encuesta sobre {{ data.encuesta }} lo que no te tomará más de 2 minutos en responder. Para nosotros es muy importante conocer tu opinión. ¡Muchas gracias por tu tiempo!
{% endblock %}

{% block boton %}
<a href="https://encuestas.jookeez.com/encuestas/{{ data.id_encuesta }}/{{ data.correo }}">
    <button type="button" class="boton-principal">Iniciar Encuesta</button>
</a>
{% endblock %}

{% block imagen_principal %}
<img class="imagen" src="https://encuestas.jookeez.com/static/images/carrusel-5.png" alt="">
{% endblock %}

{% block parrafo_suscrito %}
<p class="texto-final">Este correo fue enviado a {{ data.correo }} Si no deseas recibir más correos como este, puedes 
    <a href="https://encuestas.jookeez.com/desuscribir/{{ data.correo }}">darte de baja</a>.
</p>
{% endblock %}