{% extends "./layout-portal-encuestador.html" %}

{% block title %}
Portal del Encuestador
{% endblock %}

{% block head %}{% endblock %}

{% block active_encuestas %}
aria-expanded="true"
{% endblock %}

{% block active_encuestas_collapse %}
show
{% endblock %}

{% block active_encuestas_abiertas %}
active
{% endblock %}

{% block body %}
<div class="container">
    <div class="mini-contenedor listado-encuestas">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold mb-3">Encuestas Abiertas</h1>
            <p for="basic-url" class="form-label mb-4">Los participantes ya pueden responder estas encuestas.</p>
            <table class="table" class="scrollbar .scrollbar-default">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th>Fecha apertura</th>
                        <th>Fecha cierre</th>
                        <th>Preguntas</th>
                    </tr>
                </thead>
                <tbody>    
                    {% for pollo in Open %}
                    <tr>
                        <th>{{pollo.0}}</th>
                        <td>{{pollo.1}}</td>
                        <td>{{pollo.2}}</td>
                        <td>{{pollo.4}}</td>
                        <td>{{pollo.5}}</td>
                        <td>{{pollo.6}}</td>
                        <td class="td-abiertas">
                                <a href="/portal-encuestador-encuestas-visualizar/{{pollo.0}}" class="btn btn-success a-botones">Ver</a> <!--/editar_encuesta/{{pollo.1}}-->
                                <a href="" class="btn btn-primary  a-botones" disabled>Finalizar</a>
                                <a class="btn btn-danger a-botones" href="/eliminar-encuesta/abierta/{{ pollo.0 }}">Eliminar</a><!--/eliminar_encuesta/{{pollo.1}}-->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>
{% endblock %}