{% extends "./layout-portal-encuestador.html" %}

{% block title %}
Editar Encuesta
{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="container">
  <form action="/guardar_cambios_encuesta/{{id_encuesta}}" method="POST">
    <div class="mini-contenedor">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold mb-3">Encuesta {{id_encuesta}}</h1>
        <div class="mb-3">
          <h4 class="form-label">Título</h4>
          <input type="text" required name="title" class="form-control" id="floatingInput" value="{{polls[0].1}}">
        </div>
        <div class="mb-3">
          <h4 class="form-label">Descripción</h4>
          <textarea class="form-control" required name="description" value="" id="floatingTextarea">{{polls[0].2}}</textarea>
        </div> 
        {% set i = namespace(a=-1) %}
        {% for question in questions %}
        <!--Bloque Pregunta-->
        {% set i.a= i.a + 1  %}
        <div class="mini-contenedor p-3 mb-3 mt-3">
          <div class="container-fluid py-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Pregunta {{ loop.index }}</span>
              <input type="text" name="Pregunta{{i.a}}" required class="form-control" id="QInput{{i.a+1}}" value="{{question.1}}" aria-label="Nombre" aria-describedby="basic-addon1">
            </div>
            <ol class="input-group mb-3">
              <span class="input-group-text" id="basic-addon2">Alternativa 1</span>
              <input type="text" name="item1-{{i.a}}" required class="form-control" id="I1Input{{i.a+1}}" value="{{options[i.a].1}}" required aria-label="Respuesta1" aria-describedby="basic-addon2">
            </ol>
            {% set i.a= i.a + 1  %}
            <ol class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3">Alternativa 2</span>
              <input type="text" name="item2-{{i.a}}" required class="form-control" id="I2Input{{i.a+1}}" value="{{options[i.a].1}}" required aria-label="Respuesta2" aria-describedby="basic-addon3">
            </ol>
          </div>
        </div>
        {% endfor %}
        <button class="btn btn-responsive btn-success btn-lg" type="submit">Guardar</button>
        <a href="/portal-encuestador-encuestas-visualizar/{{id_encuesta}}">
          <button class="btn btn-responsive btn-danger btn-lg" type="button">Cancelar</button>
        </a>
        <a href="/portal-encuestador-encuestas-realizar">
          <button class="btn btn-responsive btn-warning btn-lg" type="button">Volver</button>
        </a>
      </div>
    </div>
  </form>
</div>
{% endblock %}