{% extends "./layout-portal-encuestador.html" %}

{% block title %}
Portal del Encuestador
{% endblock %}

{% block head %}{% endblock %}

{% block active_encuestas %}
aria-expanded="true"
{% endblock %}

{% block active_encuestas_collapse %}
show
{% endblock %}

{% block active_encuestas_crear %}
active
{% endblock %}

{% block body %}
<div class="container">
    <form action="/guardar_encuesta/{{question_number}}" method="POST">
      <ul>
        <!--Bloque Datos-->
        <div class="shadow p-3 mb-5 bg-body rounded ">

          <h1 class="display-5 fw-bold mb-3">Crear Encuesta</h1>
          <div class="mb-3">
            <label class="form-label">Titulo</label>
            <input type="text" name="title" class="form-control" id="floatingInput" placeholder="Nueva encuesta Nacional" >
          </div>
          <div class="mb-3">
            <label class="form-label">Descripcion</label>
            <textarea class="form-control" name="description" placeholder="Esta es una encuesta muy nacional, sobre cosas nacionales." id="floatingTextarea" ></textarea>
          </div>
          <a href="/portal-encuestador-encuestas-crear/{{question_number + 1}}">
            <button class="btn btn-primary btn-lg" type="button">Agregar Pregunta</button>
          </a>
          
        </div>
        {% for i in range(question_number)%}
          <!--Bloque Pregunta-->
          <div class="shadow p-3 mb-5 bg-body rounded">
            <h5>Pregunta {{i+1}}</h5>
            <input type="text" name="Pregunta{{i}}" class="form-control" id="QInput{{i+1}}" placeholder="¿Mañana estará soleado?">
            <ul>
              <!--Bloque Items-->
              <li>
                <input type="text" name="item1-{{i}}" class="form-control" id="I1Input{{i+1}}" placeholder="Si" required>
              </li>
              <li>
                <input type="text" name="item2-{{i}}" class="form-control" id="I2Input{{i+1}}" placeholder="No" required>
              </li>
            </ul>
          </div>
        {% endfor %}
        <!--Bloque Datos-->
        <div class="shadow p-3 mb-5 bg-body rounded ">
          <button  class="btn btn-success btn-lg" type="submit" >Guardar</button>
        </div>
      </ul>
    </form>
  </div>



{% endblock %}