{% extends "./layout-portal-encuestador.html" %}

{% block title %}
Portal del Encuestador
{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="container">
    <form action="/guardar_encuesta/{{question_number}}" method="POST">
      <ul>
        <!--Bloque Datos-->
        <div class="shadow p-3 mb-5 bg-body rounded ">

          <h1 class="display-5 fw-bold mb-3">Encuesta {{id_encuesta}}</h1>
          <div class="mb-3">
            <label class="form-label">Titulo</label>

            <p>{{polls[0].1}}</p>
            
          </div>
          <div class="mb-3">
            <label class="form-label">Descripcion</label>

            <p>{{polls[0].2}}</p>
            
          </div> 
        </div>
        {% set i = namespace(a=-1)  %}
        {% for question in questions%}
          <!--Bloque Pregunta-->
          {% set i.a= i.a + 1  %}
          <div class="shadow p-3 mb-5 bg-body rounded">
            <h5>Pregunta  {{ loop.index }}</h5>
            <p>{{question.1}}</p>
            
            <ul>
              <!--Bloque Items-->
              <li>
                {{options[i.a].1}}
                
              </li>
              {% set i.a= i.a + 1  %}
              <li>
                {{options[i.a].1}}
                
              </li>
            </ul>
            
          </div>
        {% endfor %}
        <!--Bloque Datos-->
        <div class="shadow p-3 mb-5 bg-body rounded ">
          <a href="/portal-encuestador-encuestas-editar/{{polls[0].0}}">
            <button  class="btn btn-success btn-lg" type="button" >Editar</button>
          </a>
          <a href="/portal-encuestador-encuestas-realizar">
            <button  class="btn btn-secondary btn-lg" type="button" >Volver</button>
          </a>
        </div>
      </ul>
    </form>
  </div>
{% endblock %}