{% extends "./layout-portal-participante.html" %}

{% block title %}
Perfil del Participante
{% endblock %}

{% block head %}{% endblock %}

{% block active_portal %}
class="nav-link text-white" aria-current="page"
{% endblock %}

{% block active_encuestas %}
class="nav-link text-white"
{% endblock %}

{% block active_respondidas %}
class="nav-link text-white"
{% endblock %}

{% block body %}
<div class="container">
    <div class="mini-contenedor">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold mb-3">Perfil del Participante</h1>
            <p for="basic-url" class="form-label mb-4">Estos son tus datos como participante. Por seguridad no puedes cambiar tu correo electrónico, para esto deberás dar de baja esta cuenta y crear una nueva cuenta con tu nuevo correo electrónico.</p>
            <form action="/cambiar-nombre-participante/{{ session['correo'] }}", method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Nombre</span>
                    <input required type="text" name="nuevo_nombre" class="form-control" placeholder="{{ session['nombre'] }}" aria-label="Nombre" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Correo electrónico</span>
                    <input type="text" name="correo" disabled class="form-control" placeholder="{{ session['correo'] }}" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <button class="btn btn-warning btn-lg" type="submit">Guardar cambios</button>
            </form>
        </div>
    </div>
    <div class="mini-contenedor">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold mb-3">Eliminar mi cuenta</h1>
            <p class="form-label mb-4">Una vez eliminada tu cuenta se perderán todos tus datos. Esto no elimina las respuestas a las encuestas que hayas respondido.</p>
            <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Darme de baja</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar mi cuenta</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estas seguro que quieres dar de baja tu cuenta? Esta acción no puede deshacerse.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <a href="/desuscribir/{{ session['correo'] }}" class="btn btn-warning">Darme de baja</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block username %}
Participante
{% endblock %}