{% extends "./layout-portal-encuestador.html" %}

{% block title %}
Portal del Encuestador
{% endblock %}

{% block head %}{% endblock %}

{% block active_portal %}
class="nav-link text-dark active" aria-current="page"
{% endblock %}

{% block active_participantes %}
class="nav-link text-white"
{% endblock %}

{% block active_encuestas %}
class="nav-link text-white"
{% endblock %}

{% block active_resultados %}
class="nav-link text-white"
{% endblock %}

{% block active_estadisticas %}
class="nav-link text-white"
{% endblock %}

{% block body %}

{% endblock %}