{% extends "./layout-portal-encuestador.html" %}

{% block title %}
Portal del Encuestador
{% endblock %}

{% block head %}{% endblock %}

{% block active_encuestas %}
aria-expanded="true"
{% endblock %}

{% block active_encuestas_collapse %}
show
{% endblock %}

{% block active_encuestas_finalizadas %}
active
{% endblock %}

{% block body %}
<div class="container">
    <div class="mini-contenedor listado-encuestas">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold mb-3">Encuestas Finalizadas</h1>
            <p for="basic-url" class="form-label mb-4">Encuesta fue cerrada por el encuestador o llegó a su fecha de término. No recibe más respuestas.</p>
            <table class="table" class="scrollbar .scrollbar-danger">
                <thead>
                    <tr>
                        <th class="ocultar-id">ID</th>
                        <th>Titulo</th>
                        <th class="ocultar-descripcion">Descripción</th>
                        <th class="ocultar-fecha">Fecha apertura</th>
                        <th class="ocultar-fecha">Fecha cierre</th>
                        <th class="ocultar-preguntas ocultar">Preguntas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pollc in Closed %}
                    <tr>
                        <td class="ocultar-id">{{pollc.0}}</td>
                        <td>{{pollc.1}}</td>
                        <td class="ocultar-descripcion">{{pollc.2}}</td>
                        <td class="ocultar-fecha">{{pollc.4}}</td>
                        <td class="ocultar-fecha">{{pollc.5}}</td>
                        <td class="ocultar-preguntas ocultar">{{pollc.6}}</td>
                        <td class="td-finalizadas">
                            <a class="btn btn-success a-botones" href="/portal-encuestador-visualizar-resultados/{{ pollc.0 }}">Ver</a>
                            <a class="btn btn-danger a-botones" href="/eliminar-encuesta/cerrada/{{ pollc.0 }}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}