{% extends "./layout-portal-participante.html" %}

{% block title %}
Perfil del Participante
{% endblock %}

{% block head %}{% endblock %}

{% block active_portal %}
class="nav-link text-white" aria-current="page"
{% endblock %}

{% block active_encuestas %}
class="nav-link text-white"
{% endblock %}

{% block active_respondidas %}
class="nav-link text-white"
{% endblock %}

{% block body %}
<div class="container">
    <div class="mini-contenedor">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold mb-3">Perfil del Participante</h1>
            <p for="basic-url" class="form-label mb-4">Puedes modificar alguno de estos datos si es que son incorrectos.</p>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nombre</span>
                <input type="text" class="form-control" placeholder="" aria-label="Nombre" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Correo electrónico</span>
                <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <button class="btn btn-primary btn-lg" type="button">Guardar cambios</button>
        </div>
    </div>
    <div class="mini-contenedor">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold mb-3">Eliminar mi cuenta</h1>
            <p class="form-label mb-4">Si quieres eliminar todos los datos de tu cuenta presiona el siguiente botón.</p>
            <button class="btn btn-primary btn-lg" type="button">Darme de baja</button>
        </div>
    </div>
</div>
{% endblock %}

{% block username %}
Participante
{% endblock %}