{% extends "./layout-registrarse.html" %}

{% block title %}
Registrarse
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registrarse.css')}}">
{% endblock %}

{% block body %}
      <!-- CONTENIDO -->
      <section>
        <main class="container container-registrarse p-3">
            <div class="bg-light p-5 rounded">
                <form action="{{url_for('enviar_verificacion')}}" method="POST">
                    <h1>Formulario de registro</h1>
                    <p class="lead">Agradecemos que quieras participar de nuestras encuestas. Una vez enviado este formulario, recibirás un correo electrónico de confirmación.</p>
                    <div class="input-group flex-nowrap mb-3">
                        <input type="text" name="nombre" class="form-control" placeholder="Nombre" aria-describedby="basic-addon2" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" name="correo" class="form-control" placeholder="Correo electrónico" aria-describedby="basic-addon2" required>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" unchecked required>
                        <label class="form-check-label" for="flexCheckChecked">
                        Acepto los <a href="{{ url_for('terminos')}}" target="_blank" class="href">Términos y Condiciones de Uso</a>.
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary mb-2" type="submit">Enviar</button>
                </form>
            </div>
          </main>
      </section>
{% endblock %}