{% extends "./layout-responde.html" %}

{% block title %}
Encuestas
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/encuestas.css')}}">
{% endblock %}

{% block body %}
<section>
    <main class="container p-3">
        <div class="bg-light p-5 rounded">
            <h1>{{ informacion.nombre }}</h1>
            <p class="lead">{{ informacion.descripcion }}</p>
            <div class="card">
                <div class="card-header">
                    Pregunta
                </div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="btn btn-primary">Siguiente</a>
                    </div>
                </div>
            </div>
            <div class="progress mt-4">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="{{ informacion.preguntas }}"></div>
            </div>
        </div>
      </main>
  </section>
{% endblock %}
