{% extends "./layout.html" %}

{% block title %}
Últimas Encuestas
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ultimas-encuestas.css')}}">
{% endblock %}

{% block body %}
<!-- CONTENIDO -->
<section>
  <main class="container p-3">
      <div class="bg-light p-5 rounded">
        <h1>Últimas Encuestas</h1>
        <table class="table" class="scrollbar .scrollbar-primary">
          <thead>
              <tr>
                  <th>Titulo</th>
                  <th class="ocultar-descripcion">Descripción</th>
                  <th class="ocultar-fecha">Fecha Inicio</th>
                  <th class="ocultar-fecha">Fecha Término</th>
                  <th class="ocultar-preguntas">Preguntas</th>
              </tr>
          </thead>
          <tbody>
            {% for d in data %}
            <tr>
              <th>{{ d.1 }}</th>
              <td class="ocultar-descripcion">{{ d.2 }}</td>
              <td class="min-width ocultar-fecha">{{ d.3 }}</td>
              <td class="min-width ocultar-fecha">{{ d.4 }}</td>
              <td class="ocultar-preguntas">{{ d.5 }}</td>
              <td class="td-realizar">
                  <a href="/encuestas/{{ d.0 }}" class="btn btn-warning a-botones">Responder</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
</section>
{% endblock %}